<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>About %browser_name%</title>
        <link rel="stylesheet" type="text/css" href="resource://ladybird/ladybird.css" />
        <style>
            html {
                color-scheme: light dark;
            }
            img {
                float: left;
                margin-right: 10px;
                height: 48px;
            }
            th {
                text-align: right;
            }
            td {
            }
        </style>
    </head>
    <body>
        <header>
            <picture>
                <img src="resource://icons/48x48/cryfox.png" alt="%browser_name%" />
            </picture>
            <h1>About %browser_name%</h1>
        </header>
        <table>
            <tr>
                <th>Version:</th>
                <td>%browser_version%</td>
            </tr>
            <tr>
                <th>Arch:</th>
                <td>%arch_name%</td>
            </tr>
            <tr>
                <th>Operating System:</th>
                <td>%os_name%</td>
            </tr>
            <tr>
                <th>User Agent:</th>
                <td>%user_agent%</td>
            </tr>
            <tr>
                <th>Command Line:</th>
                <td>%command_line%</td>
            </tr>
            <tr>
                <th>Executable Path:</th>
                <td>%executable_path%</td>
            </tr>
        </table>
    </body>
</html>
